<head>
	<link rel="stylesheet" type="text/css" href="../styles/posts.css">
	<link rel="stylesheet" type="text/css" href="../styles/signup.css">
</head>

<header>
	<div id="logo_img">
		<img src="../images/dove.png">
	</div>
</header>

<form method="post" action="/users">
	<br>
	<br>
	<input type="text" name="email" placeholder="Email" required>
	<br>
	<br>
	<br>
	<input type="text" name="username" placeholder="Username" required>
	<br>
	<br>
	<br>
	<input type="password" name="password" placeholder="Password" required>
	<br>
	<br>
	<br>
	<input type="text" name="profile_pic_url" placeholder="(Optional) Profile picture URL">
	<br>
	<br>
	<br>
	<input type="submit" value="Create User">
</form>