h3 {
	text-align: center;
}

#text {
	margin-left: 700px;
}

#like {
	margin-left: 790px;
}

input {
	display: inline-block;
	text-align: center;
}

.comment {
	text-align: center;
	margin-left: 330px;
	width: 60%;
	border-radius: 10px;
	background-color: rgba(53,190,255,.3);
}