<form method="post" action="/posts">
	<input type="text" name="body" placeholder="Body of Post" required>
	<input type="text" name="imgurl" placeholder="Image URL (optional)">
	<input type="submit" value="Create Post">
</form>