<!DOCTYPE html>
<html>
	<head>
		<title>BURD</title>
		<link rel="stylesheet" type="text/css" href="styles/main.css">
	</head>
	<body>
		<div id="img">
			<img src="images/dove.png">
		</div>
	</body>
	<a href="/sessions/new">
		<button type="button" id="left_button">
			Login
		</button>
	</a>
	<a href="/users/new">
		<button type="button" id="right_button">
			Sign Up
		</button>
	</a>
</html>